@font-face {
  font-family: 'ArialMT', sans-serif;
  src: url('../fonts/arialmt.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Arial', sans-serif;
  src: url('../fonts/ARIAL.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
}
