.header.d-flex.align-items-center.bg-light
  .container
    .row.justify-content-between
      .col-auto
        .logo Bootstrap App
      .col-auto
        ul.header-navigation
          li.header-navigation-item
            a(href='#hero') Home
          li.header-navigation-item
            a(href='#section1') Section 1
          li.header-navigation-item
            a(href='#section2') Section 2







